extends layout

block content
  h2= title

  form(method="POST")
    label(for="name") Name:
    input#name(type="text", name="name", required, value=item ? item.name : '')
    br

    label(for="description") Description:
    textarea#description(name="description")= item ? item.description : ''
    br

    label(for="price") Price:
    input#price(type="number", step="0.01", name="price", required, value=item ? item.price : '')
    br

    label(for="stock") Stock:
    input#stock(type="number", name="stock", required, value=item ? item.stock : '')
    br

    label(for="category_id") Category:
    select(name="category_id", required)
      each category in categories
        option(
          value=category.id,
          selected=item && item.category_id === category.id
        )= category.name
    br

    button(type="submit") Submit
